*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containerDiv {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselDiv {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}